.phase {
  width:300px;
  padding-left:20px;
  float:left;
  text-align:justify;
}

.clearFloat{
  clear:both;
  display:block;
}


/** Main layout **/

html, body {
    background: #FFF8DC !important;
    font-family: Helvetica, Arial, Sans !important;
}

body {
    width: 1000px;
    padding: 0 30px;
    margin: auto;
}

h1 {
  text-decoration: underline;
  font-style: italic; 
}

h2 {
  text-decoration: underline;
}
